a {
  color: #ffdd30;
  text-decoration: none;
}

a.baum {
  font-weight: bold;
}

a:active,
a:hover {
  color: #ffee70;
  text-decoration: underline overline;
}

body {
  background-image: url("nandb-hinh.png"); 
  font-family: arial, helvetica, sans-serif;
  color: #ffdd30;
  margin-left: 24px;
  margin-right: 16px;
  margin-top: 12px;
  margin-bottom: 24px
}

button {
  background-image: url("nandb-input.png");
  color: #ffff00;
  border-color: #777777;
  font-size: 10px;
  font-weight: bold;
}

table.beitrag {
  padding: 0px;
  border-width: 1px;
  border-spacing: 0px;
  border: 1px solid #000000;
  margin-top: 10px;
}

td.col-hell {
  background-color: #888888;
  border: 0px;
  border-top: 1px dotted #000000;
  margin: 0px;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.col-dunkel {
  background-color: #777777;
  border: 0px;
  border-top: 1px dotted #000000;
}

td.ecke {
  background-image: url("nandb-eckeg.png");
  width: 30px;
  height: 36px;
  background-repeat: repeat-x;
}

td.ecke2 {
  background-image: url("nandb-eckek.png");
  width: 30px;
  height: 30px;
  background-repeat: repeat-x;
}

td.schraube {
  background-image: url("nandb-schraube.png");
  width: 30px;
  height: 10px;
}

div.inhalt {
  background-color: #777777;
  border-color: #777777;
  border-width:2px;
  border-style: outset;
  margin: 16px;
  padding: 8px;
}

td.inhalt {
  color: #ffdd30;
}

div.atavar {
  background-color: #777777;
  border-color: #777777;
  border-width:2px;
  border-style: outset;
  margin: 0px;
  margin-right: 16px;
  padding: 0px;
}

div.konfiguration {
  border-color: #777777;
  border-width:2px;
  border-top-width:0px;
  border-style: outset;
  -moz-border-radius-topright:20px;
  -moz-border-radius-bottomleft:20px;
  -moz-border-radius-bottomright:20px;
  background-color: #999999;
/*  margin: 12px;*/
  padding: 6px;
}

div.zitat {
  border-color: #999999;
  color: #ffffbb;
  border-width: 2px;
  border-style: outset;
  background-image: url("nandb-hinh.png"); 
  margin: 8px;
  margin-right: 2px;
  padding: 6px;
}

img.stil_auswahl {
  border-color: #ffffff;
  border-width: 2px;
  border-style: inset;
}

td.leiste-og {
  color: #ffff00;
  background-image: url("nandb-leisteg.png");
  background-repeat: repeat-x;
  font-weight: bold;
  height: 36px;
  font-size: 16px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-repeat: repeat-x;
}

td.leiste-ok {
  color: #ffff00;
  background-image: url("nandb-leisteg.png");
  background-repeat: repeat-x;
  font-weight: bold;
  height: 36px;
  font-size: 12px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-repeat: repeat-x;
}

td.leiste-ug {
  color: #ffff00;
  background-image: url("nandb-leistek.png");
  background-repeat: repeat-x;
  font-weight: bold;
  height: 30px;
  font-size: 16px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

td.leiste-uk {
  color: #ffff00;
  background-image: url("nandb-leistek.png");
  background-repeat: repeat-x;
  font-weight: bold;
  height: 30px;
  font-size: 12px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

td.reiter_aktiv {
  font-family: arial, helvetica, sans-serif;
  font-size: 20px;
  color: #ffff00;
  border-color: #777777;
  border-width:2px;
  border-bottom-width:0px;
  border-style: outset;
  -moz-border-radius-topleft:1.0em;
  -moz-border-radius-topright:1.0em;
  background-color: #999999;
  padding: 9px;
}	

td.reiter_inaktiv {
  font-family: arial, helvetica, sans-serif;
  font-size: 20px;
  color: #ddaa20;
  border-color: #777777;
  border-width:2px;
  border-bottom-width:1px;
  border-bottom-color: #333333;
  border-style: outset;
  border-bottom-style: solid;
  -moz-border-radius-topleft:1.0em;
  -moz-border-radius-topright:1.0em;
  background-color: #777777;
  padding: 9px;
}

th.ueber {
  font-size: 12px;
  font-weight: bold;
  color: #ffff00;
  background-image: url("nandb-inputg.png");
  background-repeat: repeat-x;
  white-space:nowrap;
  padding: 3px;
  margin: 0px;
  border: 0px;
}
