body {
  font-family: arial, helvetica, sans-serif;
  font-size:16;
  background-color:#3b1c7b;
  color:#c4a7ff;
  margin-left:24px;
  margin-right:16px;
  margin-top:12px;
  margin-bottom:24px
}

button {
  background-color: #3333bb;
  border-color: #3333bb;
  color: #c4a7ff;
  -moz-border-radius: 50%;
}

td.forum_kopf {
  font-size:12px;
  color:#ddaa20;
}

td.forum_rumpf {
  font-size:12px;
  color:#ddaa20;
}

td.vorschau {
/*  font-size:40px;*/
  color:#0000a0;
}

th.ueber {
  font-size: 10px;
  font-weight: bold;
  background-image: url("stern07.png");
  background-repeat: repeat-x;
  white-space:nowrap;
  padding: 3px;
  margin: 0px;
  border: 0px;
}

td.col-hell {
  background-color: #20244a;
  border: 0px;
  border-top: 1px solid #624c09;
  margin: 0px;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td.col-dunkel {
  background-color: #101010;
  border: 0px;
  border-top: 1px solid #413020;
}



h1,h2,h3,h4,h5,h6,sub {
  color: #c4a7ff;
}

a.baum {
  text-decoration:none;
}

a:active,
a:hover {
  color: #ffcc30;
  text-decoration: underline overline;
}

a:link {
  color: #ddaa00;
}
a:visited {
  color: #a98414;
}


a.forum_rumpf:active {
  font-size:18px;
  color: #ddaa20;
}
a.forum_rumpf:link {
  font-size:18px;
  color: #ddaa20;
}
a.forum_rumpf:visited {
  font-size:18px;
  color:#a28024;
}

img.stil_auswahl {
  border-color:#ffffff;
  border-width:2px;
  border-style: inset;
}

textarea {
  border-color:#3c138f;
  background-color:#55329d;
  color:#ffffff;
}

div.zitat {
  border-color: #ffffff;
  border-width:2px;
  border-style: outset;
  background-color: #332860;
  margin: 12px;
  padding: 6px;
}
